.navbar{

    background-color: brown;
    color: white;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 0ex;
    margin: 5px;
}

image{
    height: 30PX;
    display: block;
    margin: 50PX auto;
    align-items: center;

}



p{
    ba
    font-size: 20px;
    colo;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
}










